/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ApiError
import org.openapitools.client.models.ChatAvailability
import org.openapitools.client.models.ChatCreateRequest
import org.openapitools.client.models.ChatOperationsCreateChat201Response
import org.openapitools.client.models.ChatOperationsListChats200Response
import org.openapitools.client.models.ChatUpdateRequest
import org.openapitools.client.models.OAuthError
import org.openapitools.client.models.SortOrder

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class ChatsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * PUT /chats/{id}/archive
        * 
        * Архивация чата  Метод для отправки чата в архив.  Для отправки чата в архив вам необходимо знать &#x60;id&#x60; и указать его в &#x60;URL&#x60; запроса.
         * @param id Идентификатор чата 
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsArchiveChat(id: kotlin.Int): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/chats/{id}/archive".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /chats
        * 
        * Новый чат  Метод для создания нового чата.  Для создания личной переписки 1 на 1 с пользователем пользуйтесь методом [Новое сообщение](POST /messages).  При создании чата вы автоматически становитесь участником.
         * @param chatCreateRequest  
         * @return ChatOperationsCreateChat201Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsCreateChat(chatCreateRequest: ChatCreateRequest): HttpResponse<ChatOperationsCreateChat201Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = chatCreateRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/chats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /chats/{id}
        * 
        * Информация о чате  Метод для получения информации о чате.  Для получения чата вам необходимо знать его &#x60;id&#x60; и указать его в &#x60;URL&#x60; запроса.
         * @param id Идентификатор чата 
         * @return ChatOperationsCreateChat201Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsGetChat(id: kotlin.Int): HttpResponse<ChatOperationsCreateChat201Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/chats/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /chats
        * 
        * Список чатов  Метод для получения списка чатов по заданным параметрам.
         * @param sortLeftCurlyBracketFieldRightCurlyBracket Составной параметр сортировки сущностей выборки. На данный момент сортировка доступна по полям &#x60;id&#x60; (идентификатор чата) и &#x60;last_message_at&#x60; (дата и время создания последнего сообщения). (optional)
         * @param availability Параметр, который отвечает за доступность и выборку чатов для пользователя (optional)
         * @param lastMessageAtAfter Фильтрация по времени создания последнего сообщения. Будут возвращены те чаты, время последнего созданного сообщения в которых не раньше чем указанное (в формате YYYY-MM-DDThh:mm:ss.sssZ). (optional)
         * @param lastMessageAtBefore Фильтрация по времени создания последнего сообщения. Будут возвращены те чаты, время последнего созданного сообщения в которых не позже чем указанное (в формате YYYY-MM-DDThh:mm:ss.sssZ). (optional)
         * @param personal Фильтрация по личным и групповым чатам. Если параметр не указан, возвращаются любые чаты. (optional)
         * @param limit Количество возвращаемых сущностей за один запрос (optional, default to 50)
         * @param cursor Курсор для пагинации (из meta.paginate.next_page) (optional)
         * @return ChatOperationsListChats200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsListChats(sortLeftCurlyBracketFieldRightCurlyBracket: SortOrder?, availability: ChatAvailability?, lastMessageAtAfter: kotlin.String?, lastMessageAtBefore: kotlin.String?, personal: kotlin.Boolean?, limit: kotlin.Int?, cursor: kotlin.String?): HttpResponse<ChatOperationsListChats200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sortLeftCurlyBracketFieldRightCurlyBracket?.apply { localVariableQuery["sort[{field}]"] = listOf("$sortLeftCurlyBracketFieldRightCurlyBracket") }
            availability?.apply { localVariableQuery["availability"] = listOf("$availability") }
            lastMessageAtAfter?.apply { localVariableQuery["last_message_at_after"] = listOf("$lastMessageAtAfter") }
            lastMessageAtBefore?.apply { localVariableQuery["last_message_at_before"] = listOf("$lastMessageAtBefore") }
            personal?.apply { localVariableQuery["personal"] = listOf("$personal") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/chats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /chats/{id}/unarchive
        * 
        * Разархивация чата  Метод для возвращения чата из архива.  Для разархивации чата вам необходимо знать её &#x60;id&#x60; и указать его в &#x60;URL&#x60; запроса.
         * @param id Идентификатор чата 
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsUnarchiveChat(id: kotlin.Int): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/chats/{id}/unarchive".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /chats/{id}
        * 
        * Обновление чата  Метод для обновления параметров чата.  Для обновления нужно знать &#x60;id&#x60; чата и указать его в &#x60;URL&#x60;. Все обновляемые поля передаются в теле запроса.
         * @param id Идентификатор чата 
         * @param chatUpdateRequest  
         * @return ChatOperationsCreateChat201Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun chatOperationsUpdateChat(id: kotlin.Int, chatUpdateRequest: ChatUpdateRequest): HttpResponse<ChatOperationsCreateChat201Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = chatUpdateRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/chats/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
