/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ApiError
import org.openapitools.client.models.OAuthError
import org.openapitools.client.models.Reaction
import org.openapitools.client.models.ReactionOperationsListReactions200Response
import org.openapitools.client.models.ReactionRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class ReactionsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /messages/{id}/reactions
        * 
        * Добавление реакции  Метод для добавления реакции на сообщение.  Для добавления реакции вам необходимо знать &#x60;id&#x60; сообщения и указать его в &#x60;URL&#x60; запроса. Реакции на сообщения отправляются в виде символов &#x60;Emoji&#x60;. Если пользователь уже ставил реакцию - повторно она установлена не будет. Для удаления реакции надо воспользоваться методом [Удаление реакции](DELETE /messages/{id}/reactions).  **Лимиты реакций:**  - Каждый пользователь может установить не более **20 уникальных** реакций - Сообщение может иметь не более **30 уникальных** реакций - Общее количество реакций на сообщение не может превышать **1000**
         * @param id Идентификатор сообщения 
         * @param reactionRequest  
         * @return Reaction
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun reactionOperationsAddReaction(id: kotlin.Int, reactionRequest: ReactionRequest): HttpResponse<Reaction> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = reactionRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/messages/{id}/reactions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /messages/{id}/reactions
        * 
        * Список реакций  Метод для получения актуального списка реакций на сообщение.
         * @param id Идентификатор сообщения 
         * @param limit Количество возвращаемых сущностей за один запрос (optional, default to 50)
         * @param cursor Курсор для пагинации (из &#x60;meta.paginate.next_page&#x60;) (optional)
         * @return ReactionOperationsListReactions200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun reactionOperationsListReactions(id: kotlin.Int, limit: kotlin.Int?, cursor: kotlin.String?): HttpResponse<ReactionOperationsListReactions200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/messages/{id}/reactions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /messages/{id}/reactions
        * 
        * Удаление реакции  Метод для удаления реакции на сообщение.  Для удаления реакции вам необходимо знать &#x60;id&#x60; сообщения и указать его в &#x60;URL&#x60; запроса. Реакции на сообщения хранятся в виде символов &#x60;Emoji&#x60;.  Удалять можно только те реакции, которые были поставлены авторизованным пользователем.
         * @param id Идентификатор сообщения 
         * @param code Emoji символ реакции 
         * @param name Текстовое имя эмодзи (используется для кастомных эмодзи) (optional)
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun reactionOperationsRemoveReaction(id: kotlin.Int, code: kotlin.String, name: kotlin.String?): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            code?.apply { localVariableQuery["code"] = listOf("$code") }
            name?.apply { localVariableQuery["name"] = listOf("$name") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/messages/{id}/reactions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
