/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ApiError
import org.openapitools.client.models.ChatSubtype
import org.openapitools.client.models.OAuthError
import org.openapitools.client.models.SearchOperationsSearchChats200Response
import org.openapitools.client.models.SearchOperationsSearchMessages200Response
import org.openapitools.client.models.SearchOperationsSearchUsers200Response
import org.openapitools.client.models.SearchSortOrder
import org.openapitools.client.models.SortOrder
import org.openapitools.client.models.UserRole

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class SearchApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /search/chats
        * 
        * Поиск чатов  Метод для полнотекстового поиска каналов и бесед.
         * @param query Текст поискового запроса (optional)
         * @param limit Количество возвращаемых результатов за один запрос (optional, default to 100)
         * @param cursor Курсор для пагинации (из meta.paginate.next_page) (optional)
         * @param order Направление сортировки (optional)
         * @param createdFrom Фильтр по дате создания (от) (optional)
         * @param createdTo Фильтр по дате создания (до) (optional)
         * @param active Фильтр по активности чата (optional)
         * @param chatSubtype Фильтр по типу чата (optional)
         * @param personal Фильтр по личным чатам (optional)
         * @return SearchOperationsSearchChats200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchOperationsSearchChats(query: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, order: SortOrder?, createdFrom: java.time.OffsetDateTime?, createdTo: java.time.OffsetDateTime?, active: kotlin.Boolean?, chatSubtype: ChatSubtype?, personal: kotlin.Boolean?): HttpResponse<SearchOperationsSearchChats200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
            order?.apply { localVariableQuery["order"] = listOf("$order") }
            createdFrom?.apply { localVariableQuery["created_from"] = listOf("$createdFrom") }
            createdTo?.apply { localVariableQuery["created_to"] = listOf("$createdTo") }
            active?.apply { localVariableQuery["active"] = listOf("$active") }
            chatSubtype?.apply { localVariableQuery["chat_subtype"] = listOf("$chatSubtype") }
            personal?.apply { localVariableQuery["personal"] = listOf("$personal") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/chats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/messages
        * 
        * Поиск сообщений  Метод для полнотекстового поиска сообщений.
         * @param query Текст поискового запроса (optional)
         * @param limit Количество возвращаемых результатов за один запрос (optional, default to 200)
         * @param cursor Курсор для пагинации (из meta.paginate.next_page) (optional)
         * @param order Направление сортировки (optional)
         * @param createdFrom Фильтр по дате создания (от) (optional)
         * @param createdTo Фильтр по дате создания (до) (optional)
         * @param chatIds Фильтр по ID чатов (optional)
         * @param userIds Фильтр по ID авторов сообщений (optional)
         * @param active Фильтр по активности чата (optional)
         * @return SearchOperationsSearchMessages200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchOperationsSearchMessages(query: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, order: SortOrder?, createdFrom: java.time.OffsetDateTime?, createdTo: java.time.OffsetDateTime?, chatIds: kotlin.collections.List<kotlin.Int>?, userIds: kotlin.collections.List<kotlin.Int>?, active: kotlin.Boolean?): HttpResponse<SearchOperationsSearchMessages200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
            order?.apply { localVariableQuery["order"] = listOf("$order") }
            createdFrom?.apply { localVariableQuery["created_from"] = listOf("$createdFrom") }
            createdTo?.apply { localVariableQuery["created_to"] = listOf("$createdTo") }
            chatIds?.apply { localVariableQuery["chat_ids"] = toMultiValue(this, "csv") }
            userIds?.apply { localVariableQuery["user_ids"] = toMultiValue(this, "csv") }
            active?.apply { localVariableQuery["active"] = listOf("$active") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/users
        * 
        * Поиск сотрудников  Метод для полнотекстового поиска сотрудников по имени, email, должности и другим полям.
         * @param query Текст поискового запроса (optional)
         * @param limit Количество возвращаемых результатов за один запрос (optional, default to 200)
         * @param cursor Курсор для пагинации (из meta.paginate.next_page) (optional)
         * @param sort Сортировка результатов (optional)
         * @param order Направление сортировки (optional)
         * @param createdFrom Фильтр по дате создания (от) (optional)
         * @param createdTo Фильтр по дате создания (до) (optional)
         * @param companyRoles Фильтр по ролям сотрудников (optional)
         * @return SearchOperationsSearchUsers200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchOperationsSearchUsers(query: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, sort: SearchSortOrder?, order: SortOrder?, createdFrom: java.time.OffsetDateTime?, createdTo: java.time.OffsetDateTime?, companyRoles: kotlin.collections.List<UserRole>?): HttpResponse<SearchOperationsSearchUsers200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            order?.apply { localVariableQuery["order"] = listOf("$order") }
            createdFrom?.apply { localVariableQuery["created_from"] = listOf("$createdFrom") }
            createdTo?.apply { localVariableQuery["created_to"] = listOf("$createdTo") }
            companyRoles?.apply { localVariableQuery["company_roles"] = toMultiValue(this, "csv") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
