/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.pachca.apis

import com.pachca.models.ApiError
import com.pachca.models.ListReadMembers200Response
import com.pachca.models.OAuthError

import com.pachca.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class ReadMemberApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /messages/{id}/read_member_ids
        * 
        * Список прочитавших сообщение  Метод для получения актуального списка пользователей, прочитавших сообщение.
         * @param id Идентификатор сообщения 
         * @param limit Количество возвращаемых сущностей за один запрос (optional, default to 300)
         * @param cursor Курсор для пагинации (из &#x60;meta.paginate.next_page&#x60;) (optional)
         * @return ListReadMembers200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun listReadMembers(id: kotlin.Int, limit: kotlin.Int?, cursor: kotlin.String?): HttpResponse<ListReadMembers200Response> {

            val localVariableAuthNames = listOf<String>("BearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/messages/{id}/read_member_ids".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
